body {
    background: url('Img/coffee.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
}
.auth-card {
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: white;
    border: 0.5px solid white;
}
.form-control {
    background: white;
    border: none;
    color: black;
    margin-bottom: 15px;
}
.btn-custom {
    background: linear-gradient(to right, #3b2219, #efab80);
    border-radius: 5px;
    border: none;
    color: white;
    width: 100%;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
}
.auth-link {
    color: white;
    text-decoration: underline;
    margin-left: 120px;
}
.auth-link:hover {
    color: #000000;
}
.gender-group {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 15px;
}
.gender-group input[type="radio"] {
    margin-right: 5px;
}
.tab-content .active {
    display: block;
}