body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(image/coffee.jpg) no-repeat center center/cover;
  }
  
  .container {
    width: 350px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
    color: white;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  input {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .gender {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .gender label {
    margin: 0 10px;
    font-size: 16px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #a56a42;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .switch {
    margin-top: 10px;
    color: lightblue;
    text-decoration: none;
    font-size: 14px;
  }
  